body {
	background-color: #465775;
	font-family: 'Saira Condensed', sans-serif;
}
/* Mobile vertical */
@media screen and (min-width: 320px) and (max-width: 400px){
	.contact-container{
		display: grid;
		grid-template-rows: 30% 10% 10% 10% 10%;
	}
	/* .MuiPaper-root MuiPaper-elevation1 MuiCard-root card MuiPaper-rounded{
		width: 280px;
	} */
}
/* ipad */
@media screen and (min-width: 767px) and (max-width: 1023px) {
	.project-container{
		display: grid;
		grid-template-rows: auto;
		justify-content: center;
	}
}
/* ipad pro */
@media screen and (min-width: 1023px) and (max-width: 1025px) {
	.project-container{
		display: grid;
		grid-template-rows: auto;
	}
	/* .intro-container{
		background-size: 100vw;
	} */
}
@media screen and (min-width: 992px) {
	.airbnb-project img{
		width: 500px;
	}
	.caloriecounter-project img{
		width: 500px;
	}
	.pilot-project img{
		width: 500px;
	}
	.project-card-container{
		display: grid;
		grid-template-columns: 33% 33% 33%;
		margin-left: 100px;
		margin-right: 100px;
		justify-items: center;
		padding-bottom: 10%;
	}

}
.intro-container{
	background-color: #fefefa;
	background-image: url('/LighthouseOpaque.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	font-weight: 100;
	color: #B2A877;
	height:100vh;
	width: 100vw;
}
.title{
	font-size: 50px;
	font-weight: 300;
	color: #A38E6F;
	font-family: 'Pacifico', cursive;
}
.second-container{
	background-color: #fefefa;
	background-image: url('/backpackOpaque.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding-bottom: 40px;
}
.card{
	margin: 20px;
	width: 375px;
	opacity: 0.8;
	border: 2px solid white;
}
.project-container{
	background-color: #465775;
}
.project-card-container{
	background-color: #465775;
	padding-top:
}
.project-title{
	font-family: 'Saira Condensed', sans-serif;
	font-size: 40px;
	font-weight: 100;
	color: #465775;
}
.project-image{
	width: 90%;
	border-radius: 6px;
}
.project-link{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #465775;
	padding: 8%;
}
.project-description{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
}
.card a{
	text-decoration: none;
}
.contact-container{
	padding-left: 20px;
	color: #ffffff;

}
.contact-title{
	font-size: 35px;
	font-weight: 300;
	color: #A38E6F;
	font-family: 'Pacifico', cursive;
}
.contact-container label{
	padding: 10px;
}
.contact-container a{
	color: #B2A877;
}
.button {
	font-family: 'Saira Condensed', sans-serif;
	width: 120px;
	height: 50px;
	text-align: center;
	border:2px solid #000000;
	font-size:1em;
	padding:.25em .5em .3125em;
	color:#ffffff;
	border-radius:.25em;
	background:#465775;
	transition:all .100s;
}
.button :hover{
	color: black;
	background-color: white;
	cursor: pointer;
}
